<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cell_data1</key>
	<dict>
		<key>cell_num</key>
		<string>1</string>
		<key>star_num</key>
		<integer>970</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/87043370652e97162dab1bc1b08d44fe7d47e40737b00c671ab06b3d1f68f314.jpg</string>
		<key>title</key>
		<string>乌木剑圣 - 三尺木剑怀天下，一把裁决定江山！</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>1.00</string>
	</dict>
	<key>cell_data2</key>
	<dict>
		<key>cell_num</key>
		<string>2</string>
		<key>star_num</key>
		<integer>880</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/4e9345c07830db4f951cca45ad021782d07a522af77f320ada901f334c014921.jpg</string>
		<key>title</key>
		<string>仙圣奇缘-次日送将臣,7日送妲己！</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>1.00</string>
	</dict>
	<key>cell_data3</key>
	<dict>
		<key>cell_num</key>
		<string>3</string>
		<key>star_num</key>
		<integer>860</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/29f64f15455a27d216c709bdba542be25113d55bad2302c2733144ca4e36e939.jpg</string>
		<key>title</key>
		<string>怒斩连萌-海量元宝神兵时装免费送!一秒变壕!网红陪你玩!</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>1.00</string>
	</dict>
	<key>cell_data4</key>
	<dict>
		<key>cell_num</key>
		<string>4</string>
		<key>star_num</key>
		<integer>820</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/36ee5274d9431ec39405fd4f07f31e539190a0ef0cf34852645b1a09cd09d2f9.jpg</string>
		<key>title</key>
		<string>斗破乾坤-登陆就送传奇英雄 你的命运由你改写</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>1.00</string>
	</dict>
	<key>cell_data5</key>
	<dict>
		<key>cell_num</key>
		<string>5</string>
		<key>star_num</key>
		<integer>770</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/582d4cf9c6d7ff75c6a69001807f0674922a8737ca45ec66cfdc6b467f8323a4.jpg</string>
		<key>title</key>
		<string>炼妖壶传奇－全新流派卡牌手游 感受与众不同</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>4.00</string>
	</dict>
	<key>cell_data6</key>
	<dict>
		<key>cell_num</key>
		<string>6</string>
		<key>star_num</key>
		<integer>710</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/803c6e1f182d14cf7e26dfaf3bbe1b15a44aec11d9bc4fad1fdb9f3a61c82170.jpg</string>
		<key>title</key>
		<string>神话大陆-全民回合制西游手游，少年西游新传奇，海量豪礼天天送！</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>3.00</string>
	</dict>
	<key>cell_data7</key>
	<dict>
		<key>cell_num</key>
		<string>7</string>
		<key>star_num</key>
		<integer>670</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/310743908027b42a524fa926775143c5a82355b2b940fb5d7b73341302e33e9e.jpg</string>
		<key>title</key>
		<string>武布天下-三国策略手游,重温三国志经典战棋</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>9.00</string>
	</dict>
	<key>cell_data8</key>
	<dict>
		<key>cell_num</key>
		<string>8</string>
		<key>star_num</key>
		<integer>640</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/39b8203a406a56d8a9c3cf3d0705a64a85ca4530a7f2870e59114d9e8eae20db.jpg</string>
		<key>title</key>
		<string>新世纪福音战士OL-EVA正版授权 3D超燃战斗 登录送明日香</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>15.00</string>
	</dict>
	<key>cell_data9</key>
	<dict>
		<key>cell_num</key>
		<string>9</string>
		<key>star_num</key>
		<integer>590</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/58b7647c75323e6ae1f232107e90fd2712ba6a8a5b69644925ef1779098f16c8.jpg</string>
		<key>title</key>
		<string>仙境奇谭-首款次时代开放式战斗手游(登录壕送礼)</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>2.00</string>
	</dict>
	<key>cell_data10</key>
	<dict>
		<key>cell_num</key>
		<string>10</string>
		<key>star_num</key>
		<integer>500</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/7783ac0323c57a4b3fb97294a82296ae6a62fd29cc545c1f36e9ccacc04890fe.jpg</string>
		<key>title</key>
		<string>无双赵子龙 - 角色扮演类回合制手游,组队城池争霸!</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>6.00</string>
	</dict>
	<key>cell_data11</key>
	<dict>
		<key>cell_num</key>
		<string>11</string>
		<key>star_num</key>
		<integer>420</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/5f2b371e2309045e5514ea395ab700959ef153d182043a8de547cd96aa2b7130.jpg</string>
		<key>title</key>
		<string>成人三国志-美女后宫策略国战卡牌好玩到根本停不下来</string>
		<key>kinds</key>
		<string>游戏</string>
		<key>price</key>
		<string>0</string>
	</dict>
	<key>cell_data12</key>
	<dict>
		<key>cell_num</key>
		<string>12</string>
		<key>star_num</key>
		<integer>440</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/4e8ccf5025133c62b8e7eb4b4686887ec6def36831be86d1d496f0b98a9862cf.jpg</string>
		<key>title</key>
		<string>随手记(专业版)-记账理财投资软件，财务记帐本</string>
		<key>kinds</key>
		<string>财务</string>
		<key>price</key>
		<string>6.00</string>
	</dict>
	<key>cell_data13</key>
	<dict>
		<key>cell_num</key>
		<string>13</string>
		<key>star_num</key>
		<integer>390</integer>
		<key>image_url</key>
		<string>http://images.apple.com/autopush/cn/itunes/charts/paid-apps/images/2016/8/7dbc217b6405ac079b4f11f6b5644e1e246f2bc4f259f6894c392c0a5cde2e89.jpg</string>
		<key>title</key>
		<string>Forest: 保持专注，拒当低头族</string>
		<key>kinds</key>
		<string>效率</string>
		<key>price</key>
		<string>12.00</string>
	</dict>
</dict>
</plist>
